/* 
css philosophy:
declare everything you want
leave a lot up to the browser
be direct instead of clever

*/

@import "setup/normalize";
$dark: #3C3640;
$light: #E1E5E1;

/* 
this type scale had a base of 16 pixels, 1.200 scale — minor third
it was previewed with poppins at weight 400
thank you for your help
*/

h1 {
    font-size: 2.488rem;
}

h2 {
    font-size: 2.074rem;
}

h3 {
    font-size: 1.728rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.2rem;
}

small, .text_small {
    font-size: 0.833rem;
}

a {
    text-decoration: underline;
    font-weight: 800;
    color: $dark;
} 

/*

sincere gratitude to css-tricks.com for helping me understand css grids

*/
html{
    display: grid;
}

body{
    max-width: 40em;
    align-self: center;
    justify-self: center;
    
    font-family: Georgia;
    color: $dark;
    background-color:$light;
    line-height: 1.35;
    
}

header{
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-items: end;
    border-bottom: 1px dashed $dark;
}

header h1{
    grid-column: 1;
    grid-row:1;
    margin: 0;
}

header small{
    grid-column: 1;
    grid-row: 2;
}

nav{
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    text-align: right;
}
nav a{
    margin-left: 1em;
}
article:not(:first-of-type){
    border-top: 1px solid $dark;
    margin-top: 2em;
}
article h2{
    margin-bottom: 0;
}
article ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

footer{
    margin-top: 3em;
    border-top: 1px dashed $dark;
}