doctype html
html.no-js(lang="")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title wooster north — everything written
        meta(name="description" content="where luck (wooster north) shares every piece of his creative process.")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet' type='text/css' href="style/style.css")
    body
        header 
            h1 wooster north 
            small everything written
            nav
                a music
                a about
                a say hello
        main
            article
                h2 cannot understand
                ul
                    li 
                        a play
                    li
                        a 15 versions
                    li lyrics &amp; notes
                    li 2016&mdash;present
                    li song
            article
                h2 the carpenter and the puppet
                ul
                    li 
                        a play
                    li
                        a 20 versions
                    li lyrics &amp; notes
                    li 2016&mdash;2017
                    li song
            article
                h2 untitled (relationship of frame)
                ul
                    li 
                        a play
                    li
                        a 2 versions
                    li lyrics &amp; notes
                    li 2012
                    li fragment
            article
                h2 tune in
                ul
                    li 
                        a play
                    li
                        a 16 versions
                    li 
                        a lyrics &amp; notes
                    li 2012&mdash;2016
                    li song
        footer
            p no copyright reserved. 
            p you may do anything with this that you'd like, but i'd appreciate it the most if you'd <a href="/say-hello">tell me about it</a>. 
            p be free, much love, luck.

